.idea/

venv/
__pycache__/
application/local_settings.py

frontend/node_modules/
frontend/webpack-stats.json
static/dist/*
postgres_data/*
backup/dump.json
db.sqlite3

telegram_bot/.env
telegram_bot/session.json
telegram_bot/images_cache/*
!telegram_bot/images_cache/.gitkeep
