.page-header {
  padding: 0.5rem;
  background-color: lightblue;
  border-radius: 0.5rem;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.5rem;

  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}
