.image-preview-pad {
  display: flex;
}

.image-preview-container {
  img {
    height: 300px;
  }
}

.image-preview-container + .image-preview-container {
  margin-left: 1rem;
}

.buttons-pad {
  display: flex;
  gap: 1rem;
}
